In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.set_option('display.max_rows',None)

In [3]:
df = pd.read_csv('Remittance  paid Countries 1960-2020(1).csv')
df.head()

,Country Name,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.307263e+06,4.860335e+06,6.337951e+06,7.465211e+06,8.083713e+06,5.268257e+07,5.614034e+07,3.692030e+07,3.426402e+07,3.500216e+07
1,Africa Eastern and Southern,AFE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.436889e+09,9.539961e+09,9.473585e+09,1.060858e+10,1.099147e+10,1.017869e+10,1.067785e+10,1.431447e+10,1.388845e+10,1.403194e+10
2,Afghanistan,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.791166e+08,2.194161e+08,3.471653e+08,2.533678e+08,3.486247e+08,6.277108e+08,8.227316e+08,8.035465e+08,8.285719e+08,7.889171e+08
3,Africa Western and Central,AFW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.762267e+10,2.769143e+10,2.807655e+10,2.907130e+10,3.121703e+10,2.837793e+10,3.158431e+10,3.455249e+10,3.490056e+10,2.851037e+10
4,Angola,AGO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.047511e+05,4.034885e+07,3.663741e+07,3.097112e+07,1.111471e+07,3.988048e+06,1.418196e+06,1.579247e+06,3.445473e+06,8.053051e+06

In [4]:
df.shape

(266, 63)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 63 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country Name  266 non-null    object
 1   Country Code  266 non-null    object
 2   1960          0 non-null      float64
 3   1961          0 non-null      float64
 4   1962          0 non-null      float64
 5   1963          0 non-null      float64
 6   1964          0 non-null      float64
 7   1965          0 non-null      float64
 8   1966          0 non-null      float64
 9   1967          0 non-null      float64
 10  1968          0 non-null      float64
 11  1969          0 non-null      float64
 12  1970          44 non-null     float64
 13  1971          56 non-null     float64
 14  1972          58 non-null     float64
 15  1973          58 non-null     float64
 16  1974          71 non-null     float64
 17  1975          92 non-null     float64
 18  1976          106 non-null    float64
 19  1977          124 non-null    float64
 20  1978          131 non-null    float64
 21  1979          136 non-null    float64
 22  1980          138 non-null    float64
 23  1981          138 non-null    float64
 24  1982          141 non-null    float64
 25  1983          145 non-null    float64
 26  1984          145 non-null    float64
 27  1985          145 non-null    float64
 28  1986          150 non-null    float64
 29  1987          153 non-null    float64
 30  1988          154 non-null    float64
 31  1989          155 non-null    float64
 32  1990          157 non-null    float64
 33  1991          159 non-null    float64
 34  1992          168 non-null    float64
 35  1993          175 non-null    float64
 36  1994          179 non-null    float64
 37  1995          185 non-null    float64
 38  1996          190 non-null    float64
 39  1997          189 non-null    float64
 40  1998          195 non-null    float64
 41  1999          196 non-null    float64
 42  2000          199 non-null    float64
 43  2001          201 non-null    float64
 44  2002          206 non-null    float64
 45  2003          209 non-null    float64
 46  2004          212 non-null    float64
 47  2005          240 non-null    float64
 48  2006          241 non-null    float64
 49  2007          241 non-null    float64
 50  2008          242 non-null    float64
 51  2009          243 non-null    float64
 52  2010          244 non-null    float64
 53  2011          243 non-null    float64
 54  2012          243 non-null    float64
 55  2013          243 non-null    float64
 56  2014          243 non-null    float64
 57  2015          243 non-null    float64
 58  2016          243 non-null    float64
 59  2017          241 non-null    float64
 60  2018          241 non-null    float64
 61  2019          240 non-null    float64
 62  2020          236 non-null    float64
dtypes: float64(61), object(2)
memory usage: 131.0+ KB

• Data is from 1960 to 2020.

In [6]:
df.isna().sum()

Country Name      0
Country Code      0
1960            266
1961            266
1962            266
1963            266
1964            266
1965            266
1966            266
1967            266
1968            266
1969            266
1970            222
1971            210
1972            208
1973            208
1974            195
1975            174
1976            160
1977            142
1978            135
1979            130
1980            128
1981            128
1982            125
1983            121
1984            121
1985            121
1986            116
1987            113
1988            112
1989            111
1990            109
1991            107
1992             98
1993             91
1994             87
1995             81
1996             76
1997             77
1998             71
1999             70
2000             67
2001             65
2002             60
2003             57
2004             54
2005             26
2006             25
2007             25
2008             24
2009             23
2010             22
2011             23
2012             23
2013             23
2014             23
2015             23
2016             23
2017             25
2018             25
2019             26
2020             30
dtype: int64

In [7]:
rows_with_nan = df[df.isnull().all(axis=1)]
rows_with_nan

Empty DataFrame
Columns: [Country Name, Country Code, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]
Index: []

[0 rows x 63 columns]

• Replace null values with 0

In [8]:
df = df.fillna(value=0)
df.head()

,Country Name,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,5.307263e+06,4.860335e+06,6.337951e+06,7.465211e+06,8.083713e+06,5.268257e+07,5.614034e+07,3.692030e+07,3.426402e+07,3.500216e+07
1,Africa Eastern and Southern,AFE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,9.436889e+09,9.539961e+09,9.473585e+09,1.060858e+10,1.099147e+10,1.017869e+10,1.067785e+10,1.431447e+10,1.388845e+10,1.403194e+10
2,Afghanistan,AFG,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.791166e+08,2.194161e+08,3.471653e+08,2.533678e+08,3.486247e+08,6.277108e+08,8.227316e+08,8.035465e+08,8.285719e+08,7.889171e+08
3,Africa Western and Central,AFW,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.762267e+10,2.769143e+10,2.807655e+10,2.907130e+10,3.121703e+10,2.837793e+10,3.158431e+10,3.455249e+10,3.490056e+10,2.851037e+10
4,Angola,AGO,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.047511e+05,4.034885e+07,3.663741e+07,3.097112e+07,1.111471e+07,3.988048e+06,1.418196e+06,1.579247e+06,3.445473e+06,8.053051e+06

In [9]:
df.isna().sum()

Country Name    0
Country Code    0
1960            0
1961            0
1962            0
1963            0
1964            0
1965            0
1966            0
1967            0
1968            0
1969            0
1970            0
1971            0
1972            0
1973            0
1974            0
1975            0
1976            0
1977            0
1978            0
1979            0
1980            0
1981            0
1982            0
1983            0
1984            0
1985            0
1986            0
1987            0
1988            0
1989            0
1990            0
1991            0
1992            0
1993            0
1994            0
1995            0
1996            0
1997            0
1998            0
1999            0
2000            0
2001            0
2002            0
2003            0
2004            0
2005            0
2006            0
2007            0
2008            0
2009            0
2010            0
2011            0
2012            0
2013            0
2014            0
2015            0
2016            0
2017            0
2018            0
2019            0
2020            0
dtype: int64

In [10]:
df.shape

(266, 63)

In [11]:
df.head()

,Country Name,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,5.307263e+06,4.860335e+06,6.337951e+06,7.465211e+06,8.083713e+06,5.268257e+07,5.614034e+07,3.692030e+07,3.426402e+07,3.500216e+07
1,Africa Eastern and Southern,AFE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,9.436889e+09,9.539961e+09,9.473585e+09,1.060858e+10,1.099147e+10,1.017869e+10,1.067785e+10,1.431447e+10,1.388845e+10,1.403194e+10
2,Afghanistan,AFG,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.791166e+08,2.194161e+08,3.471653e+08,2.533678e+08,3.486247e+08,6.277108e+08,8.227316e+08,8.035465e+08,8.285719e+08,7.889171e+08
3,Africa Western and Central,AFW,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.762267e+10,2.769143e+10,2.807655e+10,2.907130e+10,3.121703e+10,2.837793e+10,3.158431e+10,3.455249e+10,3.490056e+10,2.851037e+10
4,Angola,AGO,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.047511e+05,4.034885e+07,3.663741e+07,3.097112e+07,1.111471e+07,3.988048e+06,1.418196e+06,1.579247e+06,3.445473e+06,8.053051e+06

• Transpose rows and columns

In [12]:
df1 = df.rename(columns={'Country Name':''})
df1.head()

,,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,5.307263e+06,4.860335e+06,6.337951e+06,7.465211e+06,8.083713e+06,5.268257e+07,5.614034e+07,3.692030e+07,3.426402e+07,3.500216e+07
1,Africa Eastern and Southern,AFE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,9.436889e+09,9.539961e+09,9.473585e+09,1.060858e+10,1.099147e+10,1.017869e+10,1.067785e+10,1.431447e+10,1.388845e+10,1.403194e+10
2,Afghanistan,AFG,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.791166e+08,2.194161e+08,3.471653e+08,2.533678e+08,3.486247e+08,6.277108e+08,8.227316e+08,8.035465e+08,8.285719e+08,7.889171e+08
3,Africa Western and Central,AFW,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.762267e+10,2.769143e+10,2.807655e+10,2.907130e+10,3.121703e+10,2.837793e+10,3.158431e+10,3.455249e+10,3.490056e+10,2.851037e+10
4,Angola,AGO,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.047511e+05,4.034885e+07,3.663741e+07,3.097112e+07,1.111471e+07,3.988048e+06,1.418196e+06,1.579247e+06,3.445473e+06,8.053051e+06

In [13]:
df2 = df1.set_index('')
df2.head()

,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
,,,,,,,,,,,,,,,,,,,,,
Aruba,ABW,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,5.307263e+06,4.860335e+06,6.337951e+06,7.465211e+06,8.083713e+06,5.268257e+07,5.614034e+07,3.692030e+07,3.426402e+07,3.500216e+07
Africa Eastern and Southern,AFE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,9.436889e+09,9.539961e+09,9.473585e+09,1.060858e+10,1.099147e+10,1.017869e+10,1.067785e+10,1.431447e+10,1.388845e+10,1.403194e+10
Afghanistan,AFG,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.791166e+08,2.194161e+08,3.471653e+08,2.533678e+08,3.486247e+08,6.277108e+08,8.227316e+08,8.035465e+08,8.285719e+08,7.889171e+08
Africa Western and Central,AFW,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.762267e+10,2.769143e+10,2.807655e+10,2.907130e+10,3.121703e+10,2.837793e+10,3.158431e+10,3.455249e+10,3.490056e+10,2.851037e+10
Angola,AGO,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.047511e+05,4.034885e+07,3.663741e+07,3.097112e+07,1.111471e+07,3.988048e+06,1.418196e+06,1.579247e+06,3.445473e+06,8.053051e+06

In [14]:
df3 = df2.drop(columns='Country Code')
df3.head()

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
,,,,,,,,,,,,,,,,,,,,,
Aruba,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,5.307263e+06,4.860335e+06,6.337951e+06,7.465211e+06,8.083713e+06,5.268257e+07,5.614034e+07,3.692030e+07,3.426402e+07,3.500216e+07
Africa Eastern and Southern,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,9.436889e+09,9.539961e+09,9.473585e+09,1.060858e+10,1.099147e+10,1.017869e+10,1.067785e+10,1.431447e+10,1.388845e+10,1.403194e+10
Afghanistan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.791166e+08,2.194161e+08,3.471653e+08,2.533678e+08,3.486247e+08,6.277108e+08,8.227316e+08,8.035465e+08,8.285719e+08,7.889171e+08
Africa Western and Central,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.762267e+10,2.769143e+10,2.807655e+10,2.907130e+10,3.121703e+10,2.837793e+10,3.158431e+10,3.455249e+10,3.490056e+10,2.851037e+10
Angola,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.047511e+05,4.034885e+07,3.663741e+07,3.097112e+07,1.111471e+07,3.988048e+06,1.418196e+06,1.579247e+06,3.445473e+06,8.053051e+06

In [15]:
df4 = df3.transpose()
df4.head()

,Aruba,Africa Eastern and Southern,Afghanistan,Africa Western and Central,Angola,Albania,Andorra,Arab World,United Arab Emirates,Argentina,...,Virgin Islands (U.S.),Vietnam,Vanuatu,World,Samoa,Kosovo,"Yemen, Rep.",South Africa,Zambia,Zimbabwe
1960,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1961,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1962,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1963,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1964,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [16]:
df4.reset_index(inplace=True)
df4.head()

,index,Aruba,Africa Eastern and Southern,Afghanistan,Africa Western and Central,Angola,Albania,Andorra,Arab World,United Arab Emirates,...,Virgin Islands (U.S.),Vietnam,Vanuatu,World,Samoa,Kosovo,"Yemen, Rep.",South Africa,Zambia,Zimbabwe
0,1960,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1961,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1962,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1963,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1964,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [17]:
df5 = df4.rename(columns={'index':'Year'})
df5.head()

,Year,Aruba,Africa Eastern and Southern,Afghanistan,Africa Western and Central,Angola,Albania,Andorra,Arab World,United Arab Emirates,...,Virgin Islands (U.S.),Vietnam,Vanuatu,World,Samoa,Kosovo,"Yemen, Rep.",South Africa,Zambia,Zimbabwe
0,1960,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1961,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1962,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1963,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1964,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [18]:
df6 = df5.set_index('Year')
df6.head()

,Aruba,Africa Eastern and Southern,Afghanistan,Africa Western and Central,Angola,Albania,Andorra,Arab World,United Arab Emirates,Argentina,...,Virgin Islands (U.S.),Vietnam,Vanuatu,World,Samoa,Kosovo,"Yemen, Rep.",South Africa,Zambia,Zimbabwe
Year,,,,,,,,,,,,,,,,,,,,,
1960,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1961,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1962,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1963,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1964,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

• Remove countries that do not have any data across all 4 datasets

In [19]:
rows_with_nan = df6[df6.isnull().all(axis=1)]
rows_with_nan

Empty DataFrame
Columns: [Aruba, Africa Eastern and Southern, Afghanistan, Africa Western and Central, Angola, Albania, Andorra, Arab World, United Arab Emirates, Argentina, Armenia, American Samoa, Antigua and Barbuda, Australia, Austria, Azerbaijan, Burundi, Belgium, Benin, Burkina Faso, Bangladesh, Bulgaria, Bahrain, Bahamas, The, Bosnia and Herzegovina, Belarus, Belize, Bermuda, Bolivia, Brazil, Barbados, Brunei Darussalam, Bhutan, Botswana, Central African Republic, Canada, Central Europe and the Baltics, Switzerland, Channel Islands, Chile, China, Cote d'Ivoire, Cameroon, Congo, Dem. Rep., Congo, Rep., Colombia, Comoros, Cabo Verde, Costa Rica, Caribbean small states, Cuba, Curacao, Cayman Islands, Cyprus, Czech Republic, Germany, Djibouti, Dominica, Denmark, Dominican Republic, Algeria, East Asia & Pacific (excluding high income), Early-demographic dividend, East Asia & Pacific, Europe & Central Asia (excluding high income), Europe & Central Asia, Ecuador, Egypt, Arab Rep., Euro area, Eritrea, Spain, Estonia, Ethiopia, European Union, Fragile and conflict affected situations, Finland, Fiji, France, Faroe Islands, Micronesia, Fed. Sts., Gabon, United Kingdom, Georgia, Ghana, Gibraltar, Guinea, Gambia, The, Guinea-Bissau, Equatorial Guinea, Greece, Grenada, Greenland, Guatemala, Guam, Guyana, High income, Hong Kong SAR, China, Honduras, Heavily indebted poor countries (HIPC), Croatia, ...]
Index: []

[0 rows x 266 columns]