In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('Remittance Recieved compared to thier GDP.csv')

In [ ]:
df.head()

,Country Name,Country Code,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,0.207993,0.208151,0.191757,0.232342,0.267489,0.272831,1.765716,1.815412,1.152971,NaN,NaN
1,Africa Eastern and Southern,AFE,0.978805,1.054451,1.048611,1.020787,1.108823,1.230165,1.078138,1.057523,1.343354,1.430722,1.446989
2,Afghanistan,AFG,2.385172,1.006030,1.096993,1.688459,1.236853,1.751257,3.483847,4.360011,4.378074,4.295098,3.983008
3,Africa Western and Central,AFW,4.102155,4.195243,3.862473,3.475599,3.432498,4.121103,4.127791,4.714921,4.769225,4.477959,3.723543
4,Angola,AGO,0.021446,0.000183,0.031510,0.026799,0.021255,0.009566,0.003944,0.001161,0.001558,0.003853,0.012925

In [ ]:
df.shape

(266, 13)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country Name  266 non-null    object
 1   Country Code  266 non-null    object
 2   2010          238 non-null    float64
 3   2011          240 non-null    float64
 4   2012          239 non-null    float64
 5   2013          240 non-null    float64
 6   2014          240 non-null    float64
 7   2015          239 non-null    float64
 8   2016          238 non-null    float64
 9   2017          236 non-null    float64
 10  2018          236 non-null    float64
 11  2019          233 non-null    float64
 12  2020          219 non-null    float64
dtypes: float64(11), object(2)
memory usage: 27.1+ KB

In [ ]:
df.isna().sum()

Country Name     0
Country Code     0
2010            28
2011            26
2012            27
2013            26
2014            26
2015            27
2016            28
2017            30
2018            30
2019            33
2020            47
dtype: int64

• Fill missing values with forward fill

In [ ]:
df1 = df.fillna(method='ffill')
df1.isnull().sum()

Country Name    0
Country Code    0
2010            0
2011            0
2012            0
2013            0
2014            0
2015            0
2016            0
2017            0
2018            0
2019            1
2020            1
dtype: int64

• Drop missing values

In [ ]:
df2 = df1.dropna()
df2.isna().sum()

Country Name    0
Country Code    0
2010            0
2011            0
2012            0
2013            0
2014            0
2015            0
2016            0
2017            0
2018            0
2019            0
2020            0
dtype: int64

In [ ]:
df2.head()

,Country Name,Country Code,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
1,Africa Eastern and Southern,AFE,0.978805,1.054451,1.048611,1.020787,1.108823,1.230165,1.078138,1.057523,1.343354,1.430722,1.446989
2,Afghanistan,AFG,2.385172,1.006030,1.096993,1.688459,1.236853,1.751257,3.483847,4.360011,4.378074,4.295098,3.983008
3,Africa Western and Central,AFW,4.102155,4.195243,3.862473,3.475599,3.432498,4.121103,4.127791,4.714921,4.769225,4.477959,3.723543
4,Angola,AGO,0.021446,0.000183,0.031510,0.026799,0.021255,0.009566,0.003944,0.001161,0.001558,0.003853,0.012925
5,Albania,ALB,13.302455,12.040236,11.524286,10.033080,10.742304,11.336444,11.010767,10.075678,9.627042,9.634654,9.905577

• Swap rows to columns and columns to rows

In [ ]:
df3 = df2.drop(columns=['Country Code'])

In [ ]:
df3.head()

,Country Name,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
1,Africa Eastern and Southern,0.978805,1.054451,1.048611,1.020787,1.108823,1.230165,1.078138,1.057523,1.343354,1.430722,1.446989
2,Afghanistan,2.385172,1.006030,1.096993,1.688459,1.236853,1.751257,3.483847,4.360011,4.378074,4.295098,3.983008
3,Africa Western and Central,4.102155,4.195243,3.862473,3.475599,3.432498,4.121103,4.127791,4.714921,4.769225,4.477959,3.723543
4,Angola,0.021446,0.000183,0.031510,0.026799,0.021255,0.009566,0.003944,0.001161,0.001558,0.003853,0.012925
5,Albania,13.302455,12.040236,11.524286,10.033080,10.742304,11.336444,11.010767,10.075678,9.627042,9.634654,9.905577

In [ ]:
df4 = df3.set_index('Country Name')

In [ ]:
df4.head()

,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
Country Name,,,,,,,,,,,
Africa Eastern and Southern,0.978805,1.054451,1.048611,1.020787,1.108823,1.230165,1.078138,1.057523,1.343354,1.430722,1.446989
Afghanistan,2.385172,1.006030,1.096993,1.688459,1.236853,1.751257,3.483847,4.360011,4.378074,4.295098,3.983008
Africa Western and Central,4.102155,4.195243,3.862473,3.475599,3.432498,4.121103,4.127791,4.714921,4.769225,4.477959,3.723543
Angola,0.021446,0.000183,0.031510,0.026799,0.021255,0.009566,0.003944,0.001161,0.001558,0.003853,0.012925
Albania,13.302455,12.040236,11.524286,10.033080,10.742304,11.336444,11.010767,10.075678,9.627042,9.634654,9.905577

In [ ]:
df5 = df4.transpose()

In [ ]:
df5.head()

Country Name,Africa Eastern and Southern,Afghanistan,Africa Western and Central,Angola,Albania,Andorra,Arab World,United Arab Emirates,Argentina,Armenia,...,Virgin Islands (U.S.),Vietnam,Vanuatu,World,Samoa,Kosovo,"Yemen, Rep.",South Africa,Zambia,Zimbabwe
2010,0.978805,2.385172,4.102155,0.021446,13.302455,13.302455,2.082989,2.082989,0.152091,18.026841,...,0.036369,7.124882,1.754642,0.640689,20.885526,17.249827,4.937433,0.284954,0.215426,11.736332
2011,1.054451,1.006030,4.195243,0.000183,12.040236,12.040236,1.904516,1.904516,0.131541,17.734224,...,0.043604,6.345017,2.826176,0.647618,21.641343,14.822760,4.289868,0.278187,0.197262,13.611451
2012,1.048611,1.096993,3.862473,0.031510,11.524286,11.524286,2.009896,2.009896,0.105779,18.033019,...,0.030948,6.417661,2.946693,0.666102,23.364056,14.548331,9.465743,0.273642,0.285707,12.349391
2013,1.020787,1.688459,3.475599,0.026799,10.033080,10.033080,2.009497,2.009497,0.096917,19.711375,...,0.032345,6.424407,3.126730,0.687948,21.373868,14.960134,8.270396,0.264607,0.192531,9.901364
2014,1.108823,1.236853,3.432498,0.021255,10.742304,10.742304,2.241041,2.241041,0.096015,17.904440,...,0.026536,6.444522,8.298556,0.717151,18.562327,14.857236,7.750658,0.260300,0.214805,9.766197