In [1]:
import pandas as pd
import datetime as dt

In [2]:
# Loading the remiitacne data
df1 = pd.read_csv(r"C:\Users\chine\Downloads\Cleaned Data\Cleaned Data\Remittance Merged 1970 - 2022( without metadata).csv")

In [3]:
# Loading the MetaData
df2 = pd.read_csv(r"C:\Users\chine\Downloads\Cleaned Data\Cleaned Data\MetaData.csv", encoding ="latin-1")

In [4]:
# checking for null values in the remittance data
df1.isna().sum()

country_name           0
country_code           0
Year                   0
remittance_received    0
remittance_paid        0
gdp                    0
unemployment_rate      0
dtype: int64

In [5]:
# checking for null values in the metadata
df2.isna().sum()

country_name      0
Country Code      0
Region            0
IncomeGroup       0
SpecialNotes    128
dtype: int64

In [7]:
# handling  the null values in the metadata
df2['SpecialNotes'].fillna("None", inplace = True)

In [8]:
# rechecking if the null values in the metadata has been fixed
df2.isna().sum()

country_name    0
Country Code    0
Region          0
IncomeGroup     0
SpecialNotes    0
dtype: int64

In [9]:
# dropping unused column
df2 = df2.drop("Country Code", axis = 1)
df2 = df2.drop("SpecialNotes", axis = 1)

In [13]:
# joining the two remittance and metadata
complete_data = pd.merge(df1, df2, how = "inner")

In [12]:
complete_data

,country_name,country_code,Year,remittance_received,remittance_paid,gdp,unemployment_rate,Region,IncomeGroup
0,Aruba,ABW,1970,0.000000e+00,0.00,0.000000,0.000,Latin America & Caribbean,High income
1,Aruba,ABW,1971,0.000000e+00,0.00,0.000000,0.000,Latin America & Caribbean,High income
2,Aruba,ABW,1972,0.000000e+00,0.00,0.000000,0.000,Latin America & Caribbean,High income
3,Aruba,ABW,1973,0.000000e+00,0.00,0.000000,0.000,Latin America & Caribbean,High income
4,Aruba,ABW,1974,0.000000e+00,0.00,0.000000,0.000,Latin America & Caribbean,High income
...,...,...,...,...,...,...,...,...,...
11496,Zimbabwe,ZWE,2018,1.427703e+09,29278892.45,4.179939,6.784,Sub-Saharan Africa,Lower middle income
11497,Zimbabwe,ZWE,2019,1.417012e+09,13480565.66,6.490458,7.370,Sub-Saharan Africa,Lower middle income
11498,Zimbabwe,ZWE,2020,1.832039e+09,21707094.03,8.517271,7.898,Sub-Saharan Africa,Lower middle income
11499,Zimbabwe,ZWE,2021,1.982000e+09,0.00,6.985948,8.067,Sub-Saharan Africa,Lower middle income
11500,Zimbabwe,ZWE,2022,2.047406e+09,0.00,9.901347,7.945,Sub-Saharan Africa,Lower middle income

In [14]:
# checking the datatype of the new datafram
complete_data.dtypes

country_name            object
country_code            object
Year                     int64
remittance_received    float64
remittance_paid        float64
gdp                    float64
unemployment_rate      float64
Region                  object
IncomeGroup             object
dtype: object

In [17]:
# converting the Year column to datetime
complete_data['Year'] = pd.to_datetime(complete_data['Year'], format="%Y").dt.year

In [18]:
#To save to csv
complete_data.to_csv(r"C:\Users\chine\Downloads\Cleaned Data\ Remittance Merged 1970 - 2022.csv", index = False)